{% extends 'llbase.html' %}
<!DOCTYPE html>
<html class="nkr-html">
	<head>
		{% block head %}
		<title>Contact Us</title>
		{% endblock %}
	</head>
	{% block body %}
	<body>
		<div class="home-bg home-splash">
			<div class="contact-well">
				<form id="contact-us-message" action="/LunarLovelies/contact-mailer/" method="post" class="contact-form">
					{% csrf_token %}
					<h1 class="subscribe-header">Contact Us</h1>
					<p class="subscribe-paragraph" style="margin-bottom: 0;">Let us know what's on your mind.</p>
					<div class="email-input-field">
						<label class="hidden-label" for="id_email">Email Address</label>
						<input type="email" value="" name="email_address" id="id_email" placeholder="Enter your email" required="true" class="searchfield subscribe-input contact-field"></br>
						<textarea type="text" name="contact_message" id="message" placeholder="Enter message here" required="true" class="searchfield subscribe-input contact-field contact-message"></textarea></br>
						<button type="submit" class="subscribe-button">Send Message</button>
					</div>
					{% if message_confirmation %}<p class="message-confirmation">{{message_confirmation}}</p>{% endif %}
				</form>
			</div>
		</div>
	</body>
	{% endblock %}
	<footer>
	{% block footer %}
	{% include 'Lunar_Lovelies/footer.html' %}
	{% endblock %}
	</footer>
</html>
