<footer class="nkr-footer" id="nkr-footer">
	<div class="container-fluid" class="nkr-footer" id="nkr-footer">
		<div class="container-fluid outer-mailing" id="">
			<div class="inner-mailing">
				<form id="mailing-list-signup" action="/LunarLovelies/subscribe/" method="post">
					{% csrf_token %}
					<h1 class="subscribe-header">Stay in the Know!</h2>
					<p class="subscribe-paragraph" style="margin-bottom: 0;">Sign up to find out when we release a new product or have special offers.</p>
					<div class="email-input-field">
						<label class="hidden-label" for="id_email">Email Address</label>
						<input type="email" value="" name="email_address" id="id_email" placeholder="Enter your email" required="true" class="searchfield button subscribe-input"><button type="submit" class="subscribe-button">Subscribe</button>
					</div>
				</form>
				<p class="subscription-confirmation">{{subscription_response}}</p>
			</div>
		</div>
		<ul class="nkr-list-footer">
			<li class="nkr-footer-li" id="nkr-footer-li">
				<a class="footer-link" href="/LunarLovelies/products">Products</a>
			</li>
			<li class="nkr-footer-li" id="nkr-footer-li">
				<a class="footer-link" href="/LunarLovelies/about">About</a>
			</li>
			<li class="nkr-footer-li" id="nkr-footer-li">
					<a class="footer-link" href="/LunarLovelies/contact">Contact Us</a>
			</li>
			<li class="nkr-footer-li" id="nkr-footer-li">
				<div style="align-content: center"><a href="#" class="fa fa-facebook"></a><a href="#" class="fa fa-twitter"><a href="#" class="fa fa-instagram"></a></a><a href="#" class="fa fa-pinterest"></a><a href="#" class="fa fa-tumblr"></a></div>
			</li>
			<li>
				<div class="container-fluid nkr-footer-copyright">
						<p>&copy; 2018 LunarLovelies.com All Rights Reserved </p>
				</div>
			</li>
		</ul>
	</div>
</footer>